<?xml version="1.0" encoding="UTF-8"?>
<?define GITTOKEN = "WIX-Token2" ?>
<?define GITURL = "http://github.com" ?>
<?define GITNAME = "runner-server1" ?>
<?ifndef var.VERSION ?>
  <?define VERSION = "18.5.0" ?>
<?endif?>
<?ifndef var.UPGRADECODE ?>
  <?define UPGRADECODE = "8AB05FAB-726C-4AA1-BB09-CC8C2534683D" ?>
<?endif?>
<?ifndef var.MANUFACTURER ?>
  <?define MANUFACTURER = "GitLab" ?>
<?endif?>
<?ifndef var.NAME ?>
  <?define NAME = "GitLab Runner" ?>
<?endif?>

<?if $(var.VERSION) = "18.4.0" ?>
  <?define AppGUID = "0f3ba6ef-84e3-4b0a-b696-81ea5600e44b" ?>
  <?define App64 = "gitlab-runner-windows-amd64_18.4.0.exe" ?>
  <?define App32 = "gitlab-runner-windows-386_18.4.0.exe" ?>
<?else?>
  <?define AppGUID = "a15c0ffc-5cba-4c45-b126-ad319c04bb8c" ?>
  <?define App64 = "gitlab-runner-windows-amd64_18.5.0.exe" ?>
  <?define App32 = "gitlab-runner-windows-386_18.5.0.exe" ?>
<?endif?>

<?define App1840guid = "0f3ba6ef-84e3-4b0a-b696-81ea5600e44b" ?>
<?define App1850guid = "a15c0ffc-5cba-4c45-b126-ad319c04bb8c" ?>
<?define ConfigGUID = "0f3ba6ef-84e3-4b0a-b696-81ea5600e44b" ?>

<?warning Version = $(var.VERSION) ?>
<?warning Name = $(var.NAME) ?>
<?warning Manufacturer = $(var.MANUFACTURER) ?>
<?warning UpgradeCode = $(var.UPGRADECODE) ?>
<?warning App64 = $(var.App64) ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Product Name="$(var.NAME)" Manufacturer="$(var.MANUFACTURER)" Version="$(var.VERSION)" UpgradeCode="$(var.UPGRADECODE)" Id="*" Language="1033">
	<Package Description="$(var.NAME)" InstallerVersion="200" Compressed="yes" />
	<MediaTemplate EmbedCab="yes" />
  <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
	<Condition Message="This application is only supported on Windows Vista, Windows Server 2008, or higher.">Installed OR (VersionNT >= 600)</Condition>
  
  <Property Id="GITTOKEN" Value="$(var.GITTOKEN)" />
  <Property Id="GITURL" Value="$(var.GITURL)" />
  <Property Id="GITNAME" Value="$(var.GITNAME)" />
  <Property Id="SERVICENAME64" Value="gitlab-runner" />
  <Property Id="SERVICENAME32" Value="gitlab-runner32" />
  <Property Id="runners" Value="[runners" /> 
  <Property Id="Inifile_Name" Value="config.toml" /> 

	<Directory Id="TARGETDIR" Name="SourceDir">
	<Directory Id="ProgramFilesFolder">
    <Directory Id="INSTALLDIR" Name="gitlab-runner">
      <Directory Id="AppBinDirectory" Name="bin">

        <Component Id="gitlab-config" Guid="$(var.ConfigGUID)">
          <File Source="config.toml" Name="config.toml" Id="config-toml" />
          <IniFile Id="Ini1" Section="[runners]" Key="token" Value="&quot;[GITTOKEN]&quot;" Action="addLine" Directory="AppBinDirectory" Name="config.toml" />			
          <IniFile Id="Ini2" Section="[runners]" Key="url" Value="&quot;[GITURL]&quot;" Action="addLine" Directory="AppBinDirectory" Name="config.toml" />			
          <IniFile Id="Ini3" Section="[runners]" Key="name" Value="&quot;[GITNAME]&quot;" Action="addLine" Directory="AppBinDirectory" Name="config.toml" />			
        </Component>

        <Component Id="gitlab-runner-windows-amd64" Guid="$(var.AppGUID)">
          <File Source="source/$(var.App64)" Name="gitlab-runner.exe" Id="gitlab-runner-x64" />
          <ServiceInstall Id="ServiceInstaller" Name="[SERVICENAME64]" DisplayName="[ProductName]" Type="ownProcess" Vital="yes" Description="GitLab Runner is an application that works with GitLab CI/CD to run jobs in a pipeline." Start="auto" Account="LocalSystem" ErrorControl="normal" Interactive="no"
		          Arguments="run --config &quot;[AppBinDirectory]config.toml&quot; --working-directory &quot;[INSTALLDIR]bin&quot; --service [SERVICENAME64] --syslog" />
          <ServiceControl Id="StartService" Name="[SERVICENAME64]" Stop="both" Remove="both" Start="install" Wait="yes" />
        </Component>

        <Component Id="gitlab-runner-windows-386" Guid="*">
          <File Source="source/$(var.App32)" Name="gitlab-runner.exe" Id="gitlab-runner-x32" />
          <ServiceInstall Id="ServiceInstaller-x32" Name="[SERVICENAME32]" DisplayName="[ProductName]" Type="ownProcess" Vital="yes" Description="GitLab Runner is an application that works with GitLab CI/CD to run jobs in a pipeline." Start="auto" Account="LocalSystem" ErrorControl="normal" Interactive="no"
		          Arguments="run --config &quot;[AppBinDirectory]config.toml&quot; --working-directory &quot;[INSTALLDIR]bin&quot; --service [SERVICENAME32] --syslog" />
          <ServiceControl Id="StartService-x32" Name="[SERVICENAME32]" Stop="both" Remove="both" Start="install" Wait="yes" />
        </Component>

      </Directory>
    </Directory>
	</Directory>
	</Directory>

  
	<CustomAction Id="Register_Runner_x64" Property="AppBinDirectory" ExeCommand="[AppBinDirectory]gitlab-runner-windows-amd64.exe register --non-interactive --url &quot;[GITURL]&quot; --token &quot;[GITTOKEN]&quot; --executor &quot;docker-windows&quot; --docker-image mcr.microsoft.com/windows/servercore:1809_amd64" Execute="deferred" Return="ignore" Impersonate="no" />
	<InstallExecuteSequence>
		<Custom Action="Register_Runner_x64" Before="InstallServices">NOT VersionNT64</Custom>
	</InstallExecuteSequence>

	<Feature Id="config_toml" Level="0" Title="config_toml">
		<Condition Level="1">NOT (UPGRADINGPRODUCTCODE AND (GITURL = "$(var.GITURL)") AND (GITTOKEN = "$(var.GITTOKEN)") AND (GITNAME = "$(var.GITNAME)"))</Condition>
		<ComponentRef Id="gitlab-config" />
 	</Feature>

	<Feature Id="64bit_feat" Level="0" Title="64bit_feat">
		<Condition Level="1">VersionNT64</Condition>
		<ComponentRef Id="gitlab-runner-windows-amd64" />
 	</Feature>
 	
	<Feature Id="32bit_feat" Level="0" Title="32bit_feat">
		<Condition Level="1">NOT VersionNT64</Condition>
		<ComponentRef Id="gitlab-runner-windows-386" />
 	</Feature>
</Product>
</Wix>
